// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



#banner {
    position: center;
    width:100%;
}

.products {
    display:flex;
    flex-wrap: wrap;
}

.product {
    padding-right: 2%;
    flex-grow: 1;
    flex-basis: 30%;
    color: black;
    // display: flex;
}

.panel {
    margin-bottom: 20px;
    margin-inline: 20px;
    background-color:white;
    border: 1px solid;
    border-radius:4px;
    border-color: black;

    @media screen and (max-width: 300px) {
        margin-inline: 2px;
    }
    
    
}

.panel:hover{
    opacity: 80%;
    color:black;
    text-decoration: none;
}

.product-photo {
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;

    @media screen and (max-width: 300px) {
        width: 50px;
        padding-top: 2px;
        padding-left: 2px;
    }

    @media screen and (min-width:300px) and (max-width: 820px) {
        width: 250px;
        padding-top: 4px;
        padding-left: 4px;           
    }

    img {
        box-shadow:0 4px 8px;
        @media screen and (max-width: 300px) {
            width: 400%;
        }
        @media screen and (min-width:300px) and (max-width: 820px) {
            width: 100%;       
        }
        @media screen and (min-width:820px) and (max-width: 1200px) {
            width: 200%;
        }

    }
}

.product-info {
    font-size: large;

    @media screen and (max-width: 300px) {
        font-size: small;
    }

    @media screen and (min-width:820px) and (max-width: 1200px) {
        font-size: x-large;
    }

    ul {
        list-style-type: none;
        
        li:first-child {
            text-align: center;
            font-size: xx-large;

            @media screen and (max-width: 300px) {
                font-size: medium;
            }
            @media screen and (min-width:300px) and (max-width: 820px) {
                font-size: large;
            }
            
        }
    }
}

.product-name {
    font-size: xxx-large;
    text-align: center;
    line-height: 1.2;
}

.product-description li:nth-child(n+3) {
    font-weight: bold;
    padding-left:20%;
}


.card{
    transition: 200ms;
    background: #fff;
    
    .card__body{
        padding: 0 40px;
        display: flex;
        flex-flow: row no-wrap;
        margin-bottom: 25px;

        @media screen and (max-width: 1200px) {
            display: grid;
        }
        
        > .half{
        box-sizing: border-box;
        padding: 0 15px;
        flex: 1 0 50%;
        }

        @media screen and (max-width: 300px) {
            padding:0 2px;
        }
        
        .featured_text{
        h1{
            margin: 0;
            padding: 0;
            font-weight: 800;
            font-family: "Montserrat", sans-serif;
            font-size: 64px;
            line-height: 50px;
            color: #181e28;

            @media screen and (max-width: 820px) {
                font-size: 40px;
            }
            @media screen and (min-width:820px) and (max-width: 1200px) {
                font-size: 70px;
            }

        }
        
        p{
            margin: 0;
            padding: 0;
            
            &.sub{
            font-family: "Montserrat", sans-serif;
            font-size: 26px;
            text-transform: uppercase;
            color: #686e77;
            font-weight: 300;
            margin-bottom: 5px;
            }
            
            &.price{
            font-family: "Fjalla One", sans-serif;
            color: #252525;
            font-size: 26px;
            @media screen and (min-width:820px) and (max-width: 1200px) {
                font-size: 40px;
            }
            }
        }
        }
        
        .image{
            padding-top: 15px;
            width: 100%;
            
            img{
                display: block;
                max-width: 100%;
                height: auto;
                @media screen and (min-width:1200px) {
                    width:600px;
                }
            }
        }
        
        .description{
            margin-bottom: 25px;
            margin-top: 50px;
            
            p{
                margin: 0;
                font-family: "Open Sans", sans-serif;
                font-weight: 300;
                line-height: 27px;
                font-size: 25px;
                color: #555;
                @media screen and (min-width:820px) and (max-width: 1200px) {
                    font-size: xx-large;
                }
            }

            
        }

        .btn_admin {
            display:flex;
            flex-direction: column;

            *{
                align-self:flex-end;
                margin-top: 5px;
            }

            a {
                @media screen and (min-width:820px) and (max-width: 1200px) {
                    font-size:xx-large;
                }
            }
            button {
                @media screen and (min-width:820px) and (max-width: 1200px) {
                    font-size: larger;
                    margin-right: 40px;
                }
            }
        }
    }
}

.src_sort {
    font-size: x-large;

    @media screen and (max-width: 300px) {
        font-size: small;
    }

    @media screen and (min-width:300px) and (max-width: 820px) {
        font-size: medium;           
    }

    @media screen and (min-width:820px) and (max-width: 1200px) {
        font-size: xx-large;
    }

    input {
        width: 30%;
        float: left;
    }
    p {
        float:right;
    }
    a {
        padding: 10%;
        font-size:large;
    }
}


.navbar {
    a {
        @media screen and (min-width:820px) and (max-width: 1200px) {
            font-size: xx-large;
        }
    }

    #navbarDropdown {
        @media screen and (min-width:820px) and (max-width: 1200px) {
            font-size: xx-large;
        }
    }
}

.table-admin {
    @media screen and (max-width:300px) {
        font-size: 5px;           
    }
    @media screen and (min-width:300px) and (max-width: 400px) {
        font-size: 10px;   
    }

    a {
        @media screen and (max-width:300px) {
            font-size: 6px;    
            padding:4px;
            float: left;
        }
        @media screen and (min-width:300px) and (max-width: 400px) {
            font-size: 9px;
            padding: 4px;
            float: left;
        }
    }
    button {
        margin: 2px;
        @media screen and (max-width:300px) {
            font-size: 6px;     
            padding: 4px;      
        }
        @media screen and (min-width:300px) and (max-width: 400px) {
            font-size: 10px;
            padding: 4px;
        }
    }

}

.author-panel-name {
    float: left !important;
}

.table-author {
    @media screen and (max-width:300px) {
        font-size: 11px;           
    }
    @media screen and (min-width:300px) and (max-width: 400px) {
        font-size: 10px;   
    }
    
    a {
        float: right;
        margin: 2px;
        @media screen and (max-width:300px) {
            float: none;
            padding: 2px;
            font-size: 10px;           
        }
        @media screen and (max-width:400px) {
            float: none;
            padding: 2px;
            font-size: 11px;           
        }
        button {
            @media screen and (max-width:300px) {
                font-size: 10px;
                padding: 3px;           
            }
            @media screen and (max-width:400px) {
                font-size: 11px;
                padding: 3px;           
            }
        }
    }

    form {

        select {
            @media screen and (max-width:400px) {
                width: 50%;
                display: block;
                height: calc(1.6em + 0.75rem + 2px);
                padding: 0.375rem 0.75rem;
                font-weight: 400;
                font-size: 2px;
            }

            @media screen and (max-width:300px) {
                font-size: 10px;
                padding: 0px;
                width: 100%;       
            }

            @media screen and (min-width:300px) and (max-width: 400px) {
                font-size: 10px;
                padding: 1px;
                width: 100%;
            }
        
            
        }
        button {
            @media screen and (max-width:300px) {
                font-size: 11px;
                padding: 5px;
                margin: 1px;
            }

            @media screen and (min-width:300px) and (max-width: 400px) {
                font-size: 10px;   
                padding: 4px;
                width: 100%;
            }
        
        }


    }


}

.reviews_panel{
    padding:15px;

    .reviews {
        width:40%;
        float:left;
    }

    .new {
        width:40%;
        float:right;
        display:flex;
    }


}

.glyphicon-star {
    font-size: 20px;
    color: #e67e22;
    &.half {
      position: relative;
      &:before {
        position: relative;
        z-index: 9;
        width: 47%;
        display: block;
        overflow: hidden;
      }
      &:after {
        content: '\e006';
        position: absolute;
        z-index: 8;
        color: #bdc3c7;
        top: 0;
        left: 0;
      }
    }
  }
