// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.products {
    display:flex;
    flex-wrap: wrap;
}

.product {
    padding-right: 2%;
    flex-grow: 1;
    flex-basis: 30%;
    color: black;
    // display: flex;
}

.panel {
    margin-bottom: 20px;
    margin-inline: 20px;
    background-color:white;
    border: 1px solid;
    border-radius:4px;
    border-color: red;
}

.panel:hover{
    opacity: 80%;
    color:black;
    text-decoration: none;
}

.product-photo {
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    
    img {
        box-shadow:0 4px 8px;
    }
}

.product-info {
    font-size: large;

    ul {
        list-style-type: none;
        
        li:first-child {
            text-align: center;
            font-size: xx-large;
        }
    }
}

.product-name {
    font-size: xxx-large;
    text-align: center;
}



.card{
    //width:90%;
    transition: 200ms;
    background: #fff;
    
    .card__body{
        padding: 0 40px;
        display: flex;
        flex-flow: row no-wrap;
        margin-bottom: 25px;
        
        > .half{
        box-sizing: border-box;
        padding: 0 15px;
        flex: 1 0 50%;
        }
        
        .featured_text{
        h1{
            margin: 0;
            padding: 0;
            font-weight: 800;
            font-family: "Montserrat", sans-serif;
            font-size: 64px;
            line-height: 50px;
            color: #181e28;
        }
        
        p{
            margin: 0;
            padding: 0;
            
            &.sub{
            font-family: "Montserrat", sans-serif;
            font-size: 26px;
            text-transform: uppercase;
            color: #686e77;
            font-weight: 300;
            margin-bottom: 5px;
            }
            
            &.price{
            font-family: "Fjalla One", sans-serif;
            color: #252525;
            font-size: 26px;
            }
        }
        }
        
        .image{
        padding-top: 15px;
        width: 100%;
        
        img{
            display: block;
            max-width: 100%;
            height: auto;
        }
        }
        
        .description{
        margin-bottom: 25px;
        margin-top: 50px;
        
        p{
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            line-height: 27px;
            font-size: 25px;
            color: #555;
        }
        }

        .btn_admin {
            display:flex;
            flex-direction: column;

            * {
                align-self:flex-end;
                margin-top: 5px;
            }
       
        }
    }
}

.src_sort {
    font-size: x-large;
    input {
        width: 30%;
        float: left;
    }
    p {
        float:right;
    }
}